*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
body {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  /* Visual */
  background-image: url("../images/bgpic5.jpg");
  background-repeat: repeat-y;
 background-size:100%;
 height: 100%;
 width: 100%;
}





html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

/* add space for fixed nav */
main {
  margin: 100px 0px 10px 10px;
  height: 80%;
}
#portfolio-container{
  margin-top: -65px;
}
.navbar-light .navbar-toggler {
  color: rgb#28a745;
  
}
#fudge-image{
  width:100%;
  height:90%;
  margin-bottom:37px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
#train-image{
  width:100%;
  height: 90%;
  margin-bottom:37px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

#trivia-image{
  width:100%;
  height: 90%;
  margin-bottom:37px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
#crystal-image{
  width:100%;;
  height: 90%;
  margin-bottom:37px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}
.port-container h5 {
  position: absolute;
  bottom: 11px;
  right:0;
  width:100%;
  margin-bottom: 25px;
  
 
  font-weight: 300;
  line-height: 30px;
  color: #28a745;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
  background-color: black;
  
}




/* create styles for use for all white main boxes */
.block {
  background-color: #fff;

  padding: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
  height: 100%;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid black;
}

.block-header {
  /* Typography */
  color: #000000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

/* NAV START */
#logo {
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #fff;

  /* Visual */
  background: #ffffff00;
}
.navbar{
  position: fixed;
  top: 0px;
  clear: both;
  z-index: 10;
  width: 100%;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #dc3545;
}
.bg-light {
  background-color: #000000!important;
}


.navbar-light .navbar-nav .nav-link {
  color:white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}
.navbar-toggler:focus {outline:none !important}
.nav-two:hover{
  background-color:#28a745;
 color: #fff!;
 
}
.nav-two{
  position:relative;
  top: 15%;
}
.navbar-light .navbar-nav .nav-link:hover {
  color:white;}
#nav-link-one:hover{
  background-color: #dc3545;
}
#nav-link-two:hover{
  background-color: #ffc107;
}
#nav-link-three:hover{
  background-color: #28a745;
}

#second-stop{
  clear: both;
}
#links{
  position: relative;
  top:60px;
}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #ff0000;
    color: red;
  }
  main{
    height: 60%;
  }
  .btn-group{
    padding: 10px;
    margin: 10px;
  }
  #one {
    margin: 5px;
  }
  #about-button{
    border-style: solid;
    border-width: 2px;
    border-left-color: white;
    border-right-color: white;
    border-top-color: #000000;
    border-bottom-color: #000000;
    padding: 7px;
    color: white;
  }
  .navbar-toggler:focus {outline:none !important}

  .port-container h5 {
    position: absolute;
    bottom: 0px;
    right:0;
    width:100%;
    margin-bottom: 21px;
    
   
    font-weight: 300;
    line-height: 30px;
    color: #28a745;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    background-color: black;
    
  }
  #fudge-image{
    width:100%;
    height: 100%;
    margin-bottom:25px;
  }

  #train-image{
    width:100%;
    height: 100%;
    margin-bottom:25px;
  }

  #trivia-image{
    width:100%;
    height: 100%;
    margin-bottom:25px;
  }
  #crystal-image{
    width:100%;;
    height: 100%;
  }

}
@media only screen and (max-width: 991px){
  #about-button{
    border-style: solid;
    border-width: 2px;
    border-left-color: white;
    border-right-color: white;
    border-top-color: #000000;
    border-bottom-color: #000000;
    padding: 7px;
    color: white;
  }


}
/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 25px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}


#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */


/* BEGIN FOOTER */
.footer {
  /* Positioning */
  position: absolute;
  bottom: -100px;

  /* Box-model */
  width: 100%;
  height: 60px;

  /* Visual */
  background-color: black;
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: #fff;
}

.two-toned-footer-color {
  /* Box-model */
  height:3px;
  padding-top: 3px;

  /* Visual */
  background-color:white;
}
/* END FOOTER */
/* --- END STYLES FOR ALL PAGES --- */

/* --- PAGE-SPECIFIC STYLES --- */
/* ABOUT-ME PAGE */
.about-me-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 32px;
  font-weight: bold;
  color: #4aaaa5;
}

#about-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
}
/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}
/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.form-control {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: #4aaaa5;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

.submit-btn{
  background-color: #28a745;
}

.text-muted {
  color: #dc3545!important;
}